/*******************************
            Global
*******************************/

html,
body {
  height: 100%;
  background: url(sativa.png) repeat;
}

/* When Showing */
.animate-show.ng-hide-remove {
  -webkit-animation: flipInX 1.0s;
}

/* When hiding */
.animate-show.ng-hide-add {
  -webkit-animation: flipOutX 1s;
  display: block!important;
}

input[type=number] {
    -moz-appearance:textfield;
}
